// Images path use css
// ------------------------------------------------
$imgs: '../static/images/';

// Define colors
// ------------------------------------------------
$theme-colors: (
  "primary": #42a692,
  "facebook": #3b5998,
  "twitter": #00b2ff
);

$brand-primary: #42a692;
$brand-dark: #1b1d1e;
$body-color: #333;
$white-color: #fff;

// Fonts
// ------------------------------------------------
$font-path: './fonts/';
$font-size-base: 1rem;
$font-family-base: sans-serif;
