// Images path use css
// ------------------------------------------------
$imgs: './img/cssimgs/';

// Define colors
// ------------------------------------------------
$brand-primary: #330066;
$brand-second: #000;
$body-color: #000;

// Fonts
// ------------------------------------------------
$font-path: './fonts/';
$font-size-base: 1rem;
$font-family-base: sans-serif;
